@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9e9d9d;
  --foreground: #171717;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* verhindert horizontales Scrollen */
  width: 100%; /* stellt sicher, dass das Dokument das Viewport nicht übersteigt */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* für konsistentes Box-Modell */
}

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.toast-position {
  top: 11% !important; /* Setze den gewünschten Abstand vom oberen Rand */
}
